.uploadcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 15px auto;
  flex-wrap: wrap;
}
.description {
  width: 100%;
  min-height: 150px;
  min-width: 300px;
  max-width: 300px;
}
input {
  margin: auto;
}