.herocontainer {
  height: 25vh;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}


.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 25vh;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}